.root-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  bottom: 10px;
  right: 0;
  left: 0;

  .sidenav-container {
    height: 100%;

    .sidenav {
      width: 15%;
    }

    .sidenav-content {
      padding-left: 10px;
      text-align: center;
      top: 20px;
    }
  }
}
